*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    text-decoration: none;
    font-size: 1.7rem;
    color: #fff;
    background-color: blue;
    width: 250px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}
img{
    width: 500px;
    height: 250px;
}
a::before{
    content: 'Rahul Tiwari_';
}
